#app-cesium {
  width: 100vw;
  height: calc(100vh - 64px);
}

.backdrop {
  display: inline-block;
  background: rgba(42, 42, 42, 0.7);
  border-radius: 5px;
  border: 1px solid #444;
  padding: 5px 10px;
  color: #fff;
  line-height: 150%;
  font-size: small;
}

#menu {
  position: absolute;
  float: right;
  /*left: 10px;*/
  top: 100px;
  margin-left: 20px;
  width: auto;
  z-index: 100;
}

.slider {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

