<div class="vertical-menu">

	<div class="tool">
		<input type="file" accept="model/gltf+json" #newModel (input)="add3dModelee(newModel.value)">
	</div>
</div>

<div app-cesium></div>
<div class="backdrop" id="menu">
    <span><strong>3d Model Transform</strong></span>
    <div id="transformationTools">

      <span><strong>Scale: {{scale}}</strong></span>
      <br>
      <input type="range" min="0.001" step="0.001" max="1" value={{scale}} #scaler
             (input)="transformModelScale(scaler.value)">
      <br>
      <span><strong>Orientation: {{translation.orientation}}</strong></span>
      <br>
      <input type="range" min="-180" max="180" step="0.1" value={{translation.orientation}} #orienter (input)="transformModelOrientation(orienter.value)">
      <br>
      <span><strong>Position (X): {{translation.x}}</strong></span>
      <br>
      <input type="range" min="-50" max="50" step="0.1" value={{translation.x}} #posX (input)="transformXPos(posX.value)">
      <br>
      <span><strong>Position (Y): {{translation.y}}</strong></span>
      <br>
      <input type="range" min="-50" max="50" step="0.1" value={{translation.y}} #posY (input)="transformYPos(posY.value)">
      <br>
      <span><strong>Position (Z): {{translation.z}}</strong></span>
      <br>
      <input type="range" min="0" max="5" step="0.1" value={{translation.z}} #posZ (input)="transformZPos(posZ.value)">
      <br>
    </div>
</div>
